p {
    font-size: 17px;
}

input {
    margin-bottom: 15px;
    width: 75%;
}

button {
    margin-top: 15px;
}

#app-icon {
    margin-bottom: 80px;
}

#login-link {
    color: green;
}

#footer {
    position: absolute;
    bottom: 0;
    text-align: center;
    width: 100%;
    margin-bottom: 20px;
    font-weight: bold;
}
