body {
    font-family: "Sora", serif;
    font-optical-sizing: auto; 
    font-weight: 400; /* 100-800 */
    font-style: normal; /* normal, italic */
    text-align: center;
    font-size: 12px;
    left: 0;
    top: 0;
    margin: 0 0 0 0;
    background-color: white;
}

button {
    color: white;
    background-color: green;
    font-size: 20px;
    padding: 12px 20px; /* height | width */
    border: none;
    border-radius: 30px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.4); /* Subtle shadow */
    font-weight: bold;
    width: 65%;
}

input {
    padding: 12px 10px; /* height | width */
    font-size: 15px;
    border-radius: 30px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.6); /* Subtle shadow */
    font-weight: bold;
    width: 60%;
}

#header {
    color: green;
    margin-top: 60px;
    font-weight: bold;
    font-size: 32px;
    margin-bottom: 35px;
}

#app-icon {
    scale: 0.85;
}
